/* You can add global styles to this file, and also import other style files */
body{
    margin: 5%;
    background-size: cover;
    background-image: url(assets/texture-2068283_1280.jpg);
    background-repeat: no-repeat;
}

